.App {
  text-align: center;
}

/* @media (max-width: 860px) { */
.hero-container {
  background: rgb(31, 62, 147);
  background: linear-gradient(90deg, rgba(31, 62, 147) 0%, rgba(52,131,250) 54%);
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo-container img {
  max-width: 300px;
}

.hero-text-container {
  color: #fafafa;
  padding: 12px;
}

.hero-img-container img {
  max-width: 860px;
}

.hero-btn-container button {
  color: #fafafa;
  background-color: rgba(34,197,94);
  border: 2px solid #fafafa;
  border-radius: 6px;
  width: 120px;
}

.disclaimer-container {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.disclaimer-text {
  color: #1E40AF;
}

.disclaimer-img-container img {
  max-width: 860px;
}

.disclaimer-li-container li {
  list-style: none;
  color: rgb(37, 99, 235);
}

.yt-container {
  background-color: rgb(244, 244, 245);
  display: flex;
  flex-direction: column;
  color: rgb(37, 99, 235);
  padding: 20px;
}

.pct-disclaimer-container {
  background: rgb(31, 62, 147);
  background: linear-gradient(90deg, rgba(31, 62, 147) 0%, rgba(52,131,250) 54%);
  display: flex;
  flex-direction: column;
}

.pct-text-container {
  color: #fafafa;
  padding: 12px;
}

.btn-list-container{
  font-size: 23px;
  color: #fafafa;
  padding: 12px;
}

.btn-list-container button {
  width: 200px;
  height: 60px;
  font-size: 39px;
  color: #1E40AF;
}

.pct-img-container img {
  max-width: 860px;
}

.feature-list-container img {
  max-width: 720px;
}

.feature-list-container li {
  list-style: none;
}

.demonstration-btn-container button {
  color: #fafafa;
  background-color: rgba(34,197,94);
  border: 2px solid #fafafa;
  border-radius: 6px;
  width: 120px;
}

.features-container {
  background-color: rgb(244, 244, 245);
  display: flex;
  flex-direction: column;
  color: rgb(37, 99, 235);
  padding: 10px;
}

.alerts-container {
  background: rgb(31, 62, 147);
  background: linear-gradient(90deg, rgba(31, 62, 147) 0%, rgba(52,131,250) 54%);
  display: flex;
  flex-direction: column;
}

.alerts-text-container {
  color: #fafafa;
  padding: 22px;
}

.alerts-img-container img {
  max-width: 860px;
}

.partners-grid-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "know-item know-item know-item"
  "know-item know-item know-item"
  "know-item know-item know-item"
  "know-item know-item know-item";
  grid-gap: 60px;
  padding: 0px 20px 0px 20px;
  justify-content: center;
}

.partners-grid-container img {
  width: 80%;
  border-radius: 20px;
  padding: 6px;
}

.ptnrs-text-container {
  color: rgb(37, 99, 235);
  padding: 22px;
}

.know-item {
  border-radius: 20px;
  border: 2px solid rgb(52,131,250);
  grid-area: 'know-item';
  box-shadow: 0 13px 15px rgb(0 0 0 / 0.2);
  transition: ease-in 0.3s;
}

.know-item:hover {
  background-color: #dcdde2;
  border: 2px solid rgb(255, 255, 255);
  border-width: 60%;
}

.know-item img:hover {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

.form-container {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  color:rgb(255, 255, 255);
  text-align: center;
  font-size: 17px;
  background: rgb(31, 62, 147);
  background: linear-gradient(90deg, rgba(31, 62, 147) 0%, rgba(52,131,250) 54%);
}

.form-inputs input {
  width: 300px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 7px;
}

.form-inputs-container button {
  color: #fafafa;
  background-color: rgba(34,197,94);
  border: 2px solid #fafafa;
  border-radius: 6px;
  width: 140px;
  margin-bottom: 40px;
}

.footer-container {
  background-color: rgb(31, 62, 147);
}

.social-media-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-media-container img {
  max-width: 30px;
}

.footer-infos {
  max-width: 140px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #fafafa;
}